/* RESET DEFAULT STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASIC BODY STYLE */
body {
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
}

/* HEADER */
.site-header {
  background-color: #f8b500;
  padding: 1rem;
  text-align: center;
  color: white;
}

/* NAVBAR USING FLEXBOX */
.navbar ul {
  display: flex;           
  justify-content: center; 
  gap: 1.5rem;             
  list-style: none;        
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* MAIN LAYOUT USING GRID  */
.main-layout {
  display: grid;
  grid-template-columns: 3fr;
  gap: 2rem;
  padding: 2rem;
}

/* CONTENT */
.card-container {
  display: flex;      
  flex-wrap: wrap;   
  gap: 1rem;          
  margin: 4rem;
}

.card {
  flex: 1 1 150px;       
  background: #ffe8c2;
  padding: 10%;
  text-align: center;
  border-radius: 8px;
  font-size: 100%;
}


/* FOOTER */
.site-footer {
  background: #f8b500;
  color: white;
  text-align: center;
  padding: 5%;
}

/* RESPONSIVENESS */

/* Tablet screens */
@media (max-width: 900px) {
  .main-layout {
    grid-template-columns: 1fr; 
  }
}

/* Mobile screens */
@media (max-width: 600px) {
  .main-layout {
    grid-template-columns: 1fr; 
  }

  .navbar ul {
    flex-direction: column; 
    align-items: center;
  }
